<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Error</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div class="error-page">
		<div class="error-place">
			<h2 id=welcome>ERROR 404</h2>
			<h3 id=welcome>Page not found</h3>

			<p class="text">
				Tell admin about it. <a
					href="mailto:michal.sarniewicz@gmail.com?Subject=Error"
					target="_top">Contact admin</a>
			</p>
		</div>
	</div>
	</div>
</body>
</html>