<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
           "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2" />
<title>Order details</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<div class="navbar">
		<a id=link href="/home">Home</a>
		<div class="dropdown">
			<button class="dropbtn">
				<a href="/products">Products</a> <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/products">Product list</a> <a href="/productDetails/1">Product
					details</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				<a class="active" href="/orders">Orders</a> <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/orders">Order list</a> <a href="/orderDetails/1">Order
					details</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				<a href="/supplies">Supplies</a> <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/supplies">Supply list</a> <a href="/supplyDetails/1">Supply
					details</a> <a href="/suppliers">Suppliers list</a> <a
					href="/supplierDetails/1">Suppliers details</a>
			</div>
		</div>
		<div class="dropdown" id=account>
			<button class="dropbtn">
				<a href="#">Account</a> <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content" id="dropdown-account">
				<a href="#">Logged as:
					<div sec:authorize="isAuthenticated()">
						<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
					</div>
				</a> <a href="/logout">Logout</a>
			</div>
		</div>
	</div>

	<div class="content">

		<a th:href="@{/home}">Home </a> > <a th:href="@{/orders}"> Order </a>
		> Order details


		<h1>Order details</h1>
</br> </br>
		<span class="nav-buttons"> 
			<div th:if="${order?.id != 1}">
				<form id="prev-btn"
					th:action="@{/orderDetails/}+ ${order?.id - 1}">
					<input class = "button" type="submit" value="<< previous">
				</form>
			</div>

		<span class="nav-buttons"> 
			<div th:if="${order?.id != maxOrderId}">
				<form id="next-btn"
					th:action="@{/orderDetails/}+ ${order?.id + 1}">
					<input class = "button" type="submit" value="next >>">
				</form>
			</div>

		</span> <br> <br> <br>

		<div>
			<table border="1">
				<tr class="table-top">
					<th>ID</th>
					<th>Net sum (PLN)</th>
					<th>Gross sum (PLN)</th>
					<th>Date</th>
					<th>Employee ID</th>
					<th>Cashdesk ID</th>
				</tr>

				<tr>
					<td th:utext="${order?.id}">...</td>
					<td th:utext="${order?.netPrice}">...</td>
					<td th:utext="${order?.grossPrice}">...</td>
					<td
						th:utext="${#dates.format(order?.dateAndTime, 'HH:mm:ss dd-MM-yyyy')}"></td>
					<td th:utext="${order?.employeeId}">...</td>
					<td th:utext="${order?.cashdeskId}">...</td>

				</tr>
			</table>
		</div>

		<h2>Ordered products:</h2>
		<table border="1">
			<tr class="table-top">
				<th>ID</th>
				<th>Brand</th>
				<th>Name</th>
				<th>Gross price (PLN)</th>
				<th>Quantity</th>
				<th>Gross sum (PLN)</th>
				<th>Action</th>
			</tr>
			<tr th:each="product: ${products}">

				<td th:utext="${product?.id}">...</td>
				<td th:utext="${product?.brand}">...</td>
				<td th:utext="${product?.name}">...</td>
				<td th:utext="${product?.grossPrice}">...</td>
				<td th:utext="${product?.quantity}">...</td>
				<td th:utext="${product?.grossSum}">...</td>
				<td>
					<form th:action="@{/productDetails/}+ ${product?.id}">
						<input type="submit" class="button" value="Details >>">
					</form>
				</td>

			</tr>
		</table>
	</div>
</body>
</html>

